

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">Dog Disguise</div>
                <div class="panel-body">
                    <img src="~/Content/images/braydon-anderson-105552-unsplash.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Custom snout-eye-fur disguise is perfect for you!</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-danger">
                <div class="panel-heading">Samurai Chic</div>
                <div class="panel-body"><img src="~/Content/images/cartier-cartier-721262-unsplash.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Show off your sword skills in this kimono get-up!</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-success">
                <div class="panel-heading">Santa Suit Splendor</div>
                <div class="panel-body"><img src="~/Content/images/jim-kalligas-494290-unsplash.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">For Christmas cheer all year!</div>
            </div>
        </div>
    </div>
</div><br>

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                <div class="panel-body"><img src="~/Content/images/charles-deluvio-540420-unsplash.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                <div class="panel-body"><img src="~/Content/images/charles-deluvio-703834-unsplash.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">BLACK FRIDAY DEAL</div>
                <div class="panel-body"><img src="~/Content/images/charles-deluvio-540418-unsplash.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                <div class="panel-footer">Buy 50 mobiles and get a gift card</div>
            </div>
        </div>
    </div>
</div><br><br>
