body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Title tile layout styles*/
.tiled{
    min-height: 200px;
    
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img{
    display: block !important;
    margin-left: 2.5% !important;
    margin-right: 2.5% !important;
    width: 95% !important;
}



* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side 
.column {
  float: left;
  width: 33%;
  padding: 0 10px;
}

 Remove extra left and right margins, due to padding in columns 
.row {margin: 0 -5px;
      margin-left: 12.5%;
      margin-right: 12.5%;
      width:75%;
}

 Clear floats after the columns 
.row:after {
  content: "";
  display: table;
  clear: both;
}

 Style the counter cards 
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);  this adds the "card" effect 
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
  max-height:350px;
  clear: both;
}

 Responsive columns - one column layout (vertical) on small screens 
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }*/
}